/*!---FONTS---!*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**------ RESET------**/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-transform: capitalize; }

.contacto-titulo, .contactanos, .titulo, .dedicacion, .destinos, .familia, .nosotros {
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #021a3e 0%, #00d4ff 0%, #4187e0 44%); }

.contacto-titulo {
  width: 100%;
  height: 150px; }

.titulo {
  width: 100%;
  height: 150px; }

.destinos {
  width: 100%;
  height: 100px; }

.familia {
  width: 100%;
  height: 100px; }

.nosotros {
  width: 100%;
  height: 100px; }

.destinos {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center; }

header {
  color: black !important;
  background-image: url("../img/fondo claro.png");
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  box-sizing: border-box;
  position: sticky;
  z-index: 50;
  top: 0; }

img {
  width: 280px;
  height: 150px; }

.navbar {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-top: 60px;
  font-weight: 500;
  background-image: url("../img/fondo claro.png"); }

.collapse .navbar-nav .nav-item {
  margin: 0 30px; }
  .collapse .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    padding: 5px;
    transition: 0.5s; }
    .collapse .navbar-nav .nav-item .nav-link:hover {
      color: #14c2f7; }

main {
  width: 100%; }
  main h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-weight: bold;
    color: white;
    padding: 20px; }
  main h2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white; }

.grid__container {
  width: 90%;
  height: 900px;
  margin: 30px;
  padding: 10px;
  gap: 5px;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "mendoza iguazu glaciar" "mardel bariloche glaciar" "mar del plata mendoza"; }
  .grid__container .grid__items {
    position: relative; }
    .grid__container .grid__items div {
      width: 80%;
      height: 300px;
      object-fit: cover; }
    .grid__container .grid__items img {
      width: 100%;
      height: 250px; }
    .grid__container .grid__items h3 {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.509);
      color: white;
      width: 100%;
      height: 30px;
      font-size: 18px; }
  .grid__container .img-2 {
    grid-column: span 2; }
  .grid__container .img-3 {
    grid-column: span 2; }
  .grid__container .img-6 {
    grid-column: span 2; }

.dedicacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .dedicacion img {
    width: 300px;
    height: 350px;
    margin: 20px; }
  .dedicacion .dedicacion-content h2 {
    font-size: 25px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; }
  .dedicacion .dedicacion-content p {
    font-size: 18px;
    margin: 30px;
    color: white; }
  .dedicacion .buttons-content .primary-button {
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 500;
    margin: 10px; }
    .dedicacion .buttons-content .primary-button:hover {
      color: rgba(0, 0, 255, 0.584); }
  .dedicacion .buttons-content .secondary-button {
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px; }
    .dedicacion .buttons-content .secondary-button:hover {
      color: blue; }

.flex-container p {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.flex-contenedor {
  width: 100%;
  border: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative; }
  .flex-contenedorhover {
    width: 800px; }
  .flex-contenedor img {
    width: 280px;
    height: 180px; }
  .flex-contenedor p {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0;
    font-weight: 400; }
  .flex-contenedor a {
    font-size: 15px;
    color: white;
    list-style: none;
    width: 80%;
    height: 10%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 139, 0.708);
    bottom: 0;
    margin-bottom: 25px;
    text-decoration: none;
    transition: 0.5s; }
    .flex-contenedor a:hover {
      background-color: blue; }
  .flex-contenedor div {
    width: 280px;
    height: 360px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    transition: 1s;
    box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.6); }
    .flex-contenedor div:hover {
      transform: scale(1.1); }

.fixed {
  width: 60px;
  position: fixed;
  bottom: 60px;
  right: 50px;
  bottom: 20px; }
  .fixed img {
    width: 30px;
    height: 30px; }

.nosotros h1 {
  color: black;
  font-size: 25px;
  color: white; }

.nosotros-historia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .nosotros-historia h1 {
    font-size: 25px;
    color: green;
    padding: 10px; }
  .nosotros-historia p {
    font-size: 15px;
    margin: 20px;
    font-weight: 500;
    color: black; }
  .nosotros-historia img {
    width: 80%;
    height: 350px; }

.container .row .col h2 {
  font-size: 20px;
  color: green; }

.container .row .col p {
  font-size: 15px;
  font-weight: 500; }

.container .row .col h2 {
  font-size: 20px;
  color: rgba(0, 0, 255, 0.733);
  font-weight: 600; }

.container .row .col p {
  font-size: 15px;
  font-weight: 500; }

.destinos {
  font-size: 20px;
  font-weight: 500;
  color: white; }

.container-1 {
  width: 90%;
  margin: 20px;
  border: solid 1px rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-1 img {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-1 div {
    width: 100%; }

.promos h2 {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center; }

.promos .contenedor-destinos {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .promos .contenedor-destinos img {
    width: 450px;
    height: 250px; }
  .promos .contenedor-destinos h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: cursive; }

.email {
  display: flex;
  justify-content: center;
  align-items: center; }
  .email h4 {
    font-size: 20px;
    font-weight: 550; }

.gastronomia {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .gastronomia p {
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
    font-family: cursive; }
  .gastronomia img {
    width: 500px;
    height: 250px;
    border: solid 1px black;
    padding: 5px; }

.comida {
  width: 100%;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black; }
  .comida h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue; }
  .comida p {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }

.familia h1 {
  font-size: 20px;
  color: white; }

.testimonios-mardel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 30px; }
  .testimonios-mardel img {
    width: 400px;
    height: 400px;
    gap: 5px;
    border: solid 0.5px black;
    padding: 5px; }
  .testimonios-mardel p {
    font-size: 13px;
    margin: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive; }

.testimonios-bariloche {
  display: flex;
  justify-content: center;
  align-items: center; }
  .testimonios-bariloche img {
    width: 100%;
    height: 300px;
    margin: 20px;
    gap: 5px;
    border: solid 0.5px black;
    padding: 5px; }
  .testimonios-bariloche p {
    font-size: 15px;
    font-family: cursive;
    margin: 20px; }

.buttons-content {
  display: flex;
  justify-content: initial;
  align-items: initial; }
  .buttons-content a {
    color: black;
    font-weight: 500; }
    .buttons-content a:hover {
      color: blue; }

.testimonios-mendoza {
  display: flex;
  justify-content: center;
  align-items: center; }
  .testimonios-mendoza img {
    width: 100%;
    height: 200px;
    gap: 5px;
    border: solid 0.5px black;
    margin: 5px; }

.testimonio-text {
  display: flex;
  justify-content: center;
  align-items: center; }
  .testimonio-text p {
    font-size: 14px;
    font-family: cursive;
    margin: 10px; }

.testimonios-iguazu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .testimonios-iguazu div {
    width: 50%;
    height: 400px; }
    .testimonios-iguazu div h4 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px; }
    .testimonios-iguazu div p {
      font-size: 16px;
      font-family: cursive;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }

.contactanos {
  width: 100%;
  height: 100px; }
  .contactanos h1 {
    font-size: 20px;
    font-weight: 700;
    color: white; }

.contacto-container {
  margin: 30px; }
  .contacto-container .contacto-maps {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contacto-container .contacto-maps p {
      display: flex;
      justify-content: center;
      align-items: center; }
  .contacto-container .row {
    width: 90%;
    height: 400px;
    margin: 30px;
    border: solid 1px black;
    background-color: rgba(128, 128, 128, 0.776); }
  .contacto-container h5 {
    font-size: 15px; }

footer {
  width: 100%;
  height: 220px;
  padding: 100px;
  flex-wrap: wrap;
  background: #020024;
  background: radial-gradient(circle, rgba(2, 0, 36, 0.639) 0%, #00d4ff 0%, rgba(6, 8, 13, 0.653) 0%); }
  footer .row nav {
    text-decoration: none; }
    footer .row nav ul {
      display: flex;
      justify-content: space-around;
      align-items: end; }
      footer .row nav ul li {
        list-style: none;
        display: inline-block;
        gap: 10px;
        padding: 10px;
        font-size: 15px;
        text-decoration: none; }
        footer .row nav ul li a {
          text-decoration: none;
          color: white;
          font-weight: 500; }
          footer .row nav ul li a:hover {
            color: #14c2f7; }
  footer .redes {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .redes img {
      width: 30px;
      height: 30px; }

@media screen and (max-width: 1100px) {
  .testimonios-mardel {
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px; }
  .testimonios-bariloche {
    flex-wrap: wrap; }
    .testimonios-bariloche p {
      margin: 10px; }
  .testimonios-mendoza {
    flex-wrap: wrap; }
    .testimonios-mendoza img {
      width: 100%;
      height: 200px;
      gap: 5px;
      border: solid 0.5px black;
      padding: 5px; }
  .testimonio-text {
    display: flex;
    justify-content: center;
    align-items: center; }
    .testimonio-text p {
      font-size: 14px;
      font-family: cursive;
      margin: 10px; }
  .testimonios-iguazu {
    flex-wrap: wrap; }
    .testimonios-iguazu div {
      width: 100%;
      height: 300px; } }

@media screen and (max-width: 900px) {
  .dedicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .dedicacion .dedicacion-content h2 {
      font-size: 18px; }
    .dedicacion .dedicacion-content p {
      font-size: 12px; }
  .container-1 {
    flex-wrap: wrap; }
  .contenedor-destinos {
    flex-wrap: wrap; }
  .gastronomia {
    width: 100%;
    height: 920px;
    flex-wrap: wrap; }
  .comida {
    width: 100%;
    height: 500px;
    margin: 10px;
    flex-wrap: wrap; } }

@media screen and (max-width: 846px) {
  .grid__container .grid__items {
    position: relative; }
    .grid__container .grid__items div {
      width: 80%;
      height: 250px;
      object-fit: cover; }
    .grid__container .grid__items img {
      width: 100%;
      height: 250px; }
    .grid__container .grid__items h3 {
      font-size: 100px;
      flex-direction: initial;
      width: 100%;
      height: 25px;
      font-size: 15px;
      flex-wrap: wrap; } }

@media screen and (max-width: 725px) {
  main .titulo {
    width: 100%;
    height: 160px; }
    main .titulo h1 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 20px; }
    main .titulo h2 {
      font-size: 20px;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center; }
  .grid__container .grid__items {
    position: relative; }
    .grid__container .grid__items h3 {
      width: 100%;
      height: 30px;
      font-size: 10px;
      flex-wrap: wrap; } }

@media screen and (max-width: 500px) {
  footer {
    width: 100%;
    height: 250px; }
    footer .row {
      width: 100%; }
      footer .row nav ul {
        display: flex;
        justify-content: center;
        align-items: end; }
        footer .row nav ul li {
          font-size: 10px;
          flex-direction: column; }
  .redes {
    gap: 10px; }
    .redes img {
      width: 20px;
      height: 20px; } }
