/*!---FONTS---!*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**------ RESET------**/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  text-transform: capitalize; }

.titulo, .dedicacion {
  background: #020024;
  background: radial-gradient(circle, #020024 0%, #021a3e 0%, #00d4ff 0%, #4187e0 44%); }

.titulo {
  width: 100%;
  height: 300px; }

.destinos {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center; }

header {
  color: black !important;
  background-image: url("../img/fondo claro.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  box-sizing: border-box;
  position: sticky;
  z-index: 100;
  top: 0; }

img {
  width: 250px;
  height: 150px; }

.navbar {
  width: 100%;
  height: 150px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-top: 60px;
  font-weight: 500;
  background-image: url("../img/fondo claro.png"); }

.navbar {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  transition: 1s; }

.collapse .navbar-nav .nav-item {
  margin: 0 30px; }
  .collapse .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    padding: 5px;
    transition: 0.5s; }
    .collapse .navbar-nav .nav-item .nav-link:hover {
      color: #14c2f7; }

main {
  /**---Pages/Nosotros-**/
  /**---Pages/Destinos-**/ }
  main .titulo h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-weight: bold;
    color: white;
    padding: 20px; }
  main .titulo h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: rgba(0, 0, 0, 0.566); }
  main .grid__container {
    width: 90%;
    height: 700px;
    padding: 10px;
    gap: 5px;
    margin: 100px;
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "mendoza iguazu glaciar" "mardel bariloche glaciar" "mar del plata mendoza"; }
  main .grid__items div img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  main .grid__items img {
    width: 100%;
    height: 250px; }
  main .grid__items {
    position: relative; }
  main .grid__items h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.374);
    color: white;
    width: 100%;
    font-size: 18px; }
  main .dedicacion {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .dedicacion img {
      width: 300px;
      height: 350px;
      margin: 20px; }
    main .dedicacion .dedicacion-content h2 {
      font-size: 30px;
      color: white;
      font-weight: 600; }
    main .dedicacion .dedicacion-content p {
      font-size: 12px;
      margin: 30px;
      color: white; }
    main .dedicacion .primary-button {
      color: white;
      display: flex;
      justify-content: end;
      align-items: center;
      font-weight: 500;
      margin: 10px; }
      main .dedicacion .primary-button:hover {
        color: blue; }
    main .dedicacion .secondary-button {
      color: white;
      display: flex;
      justify-content: end;
      align-items: center;
      margin: 10px; }
      main .dedicacion .secondary-button:hover {
        color: blue; }
  main .flex-container h2 {
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700; }
  main .flex-container p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  main .flex-container .flex-contenedor {
    width: 100%;
    border: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative; }
    main .flex-container .flex-contenedorhover {
      width: 800px; }
    main .flex-container .flex-contenedor img {
      width: 280px;
      height: 180px;
      background: #020024; }
    main .flex-container .flex-contenedor h3 {
      font-size: 19px;
      position: absolute;
      bottom: 50;
      color: black;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600; }
    main .flex-container .flex-contenedor p {
      font-size: 16px;
      margin-top: 40px;
      padding: 0;
      font-weight: 400; }
    main .flex-container .flex-contenedor a {
      font-size: 15px;
      color: white;
      list-style: none;
      width: 80%;
      height: 10%;
      margin: 20px;
      border: 2px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 139, 0.708);
      bottom: 0;
      margin-bottom: 25px;
      text-decoration: none;
      transition: 0.5s; }
      main .flex-container .flex-contenedor a:hover {
        background-color: blue; }
    main .flex-container .flex-contenedor div {
      width: 280px;
      height: 360px;
      border: 1px solid black;
      border-radius: 20px;
      font-size: 20px;
      color: white;
      background-color: silver; }
  main .fixed {
    width: 60px;
    position: fixed;
    bottom: 60px;
    right: 50px;
    bottom: 20px; }
    main .fixed img {
      width: 30px;
      height: 30px; }
  main .nosotros h1 {
    font-size: 25px;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; }
  main .nosotros p {
    font-size: 15px;
    margin: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center; }
  main .nosotros img {
    width: 100%;
    height: 350px; }
  main .container .row .col h2 {
    font-size: 20px;
    color: green; }
  main .container .row .col p {
    font-size: 15px;
    font-weight: 500; }
  main .destinos {
    font-size: 20px;
    font-weight: 500;
    flex-wrap: wrap; }
  main .container-1 {
    width: 90%;
    margin: 20px;
    border: solid 1px rgba(0, 0, 0, 0.37); }
    main .container-1 img {
      width: 100%;
      height: 350px; }
    main .container-1 div {
      width: 100px; }
  main section h2 {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; }
  main section .contenedor-destinos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    main section .contenedor-destinos img {
      width: 350px;
      height: 200px; }
    main section .contenedor-destinos h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px; }

footer {
  width: 100%;
  height: 250px;
  padding: 100px;
  flex-wrap: wrap;
  background: #020024;
  background: radial-gradient(circle, rgba(2, 0, 36, 0.639) 0%, #00d4ff 0%, rgba(6, 8, 13, 0.653) 0%); }
  footer .row nav {
    text-decoration: none; }
    footer .row nav ul {
      display: flex;
      justify-content: space-around;
      align-items: end; }
      footer .row nav ul li {
        list-style: none;
        display: inline-block;
        gap: 10px;
        padding: 10px;
        font-size: 15px;
        text-decoration: none; }
        footer .row nav ul li a {
          text-decoration: none;
          color: white;
          font-weight: 500; }
          footer .row nav ul li a:hover {
            color: #14c2f7; }
  footer .redes {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .redes img {
      width: 30px;
      height: 30px; }

/**-APLICAR LAS MEDIAS QUERIES-**/
@media screen and (max-width: 1308px) {
  .grid__container {
    width: 100%;
    margin: 0; } }

@media screen and (max-width: 1020px) {
  .collapse {
    position: absolute;
    top: 0;
    right: 0; }
  .navbar-nav {
    margin: 10px;
    flex-direction: column;
    align-items: end;
    color: white; } }

@media screen and (max-width: 900px) {
  .grid__items h3 {
    position: absolute;
    bottom: 0;
    color: white;
    width: 94%;
    font-size: 15px;
    margin: 20px; }
  .grid__items {
    position: relative; }
  .dedicacion {
    flex-wrap: wrap; }
  .dedicacion img {
    width: 100px; } }

@media screen and (max-width: 500px) {
  .flex-container .flex-contenedor h3 {
    font-size: 100px;
    position: absolute;
    bottom: 50;
    color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600; }
  .row nav ul {
    font-size: 100px; } }

@media screen and (max-width: 1000px) {
  .container-1 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap; } }
